<table>
  <thead>
    <tr>
      <td>#</td>
      <td>name</td>
      <td>price</td>
      <td>expirationDate</td>
      <td>category</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of arr; index as i">
      <tr [style]="item.expirationColor">
        <td>{{ i+1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.expiration.dd }} / {{item.expiration.mm}} / {{item.expiration.yyyy }}</td>
        <td>{{ item.category }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>